/* Global Styles */
:root {
  --clr-primary: #471f5b;
  --clr-dark: rgb(59, 54, 54);
  --clr-white: #fff;
  --radius: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: var(--clr-dark);
  color: var(--clr-white);
}

.icon {
  width: 50px;
  height: 50px;
}

ul {
  list-style-type: none;
}

/* Header */

.main-header {
  background: linear-gradient(rgba(71, 31, 91, 0.247), rgba(71, 31, 91, 0.247)),
    url(../img/bg.jpg) center/cover;
  height: 100vh;
}

.hero-box {
  background: transparent;
}

/* nav */

#main-nav {
  background: transparent;
  color: var(--clr-white);
}

.projects,
.main-footer {
  background: var(--clr-primary);
}
